<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LoginApplication</display-name>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PreLoginServlet</servlet-name>
    <servlet-class>com.bridgelabz.servletloginregister.controller.PreLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreLoginServlet</servlet-name>
    <url-pattern>/PreLoginServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PreRegisterServlet</servlet-name>
    <servlet-class>com.bridgelabz.servletloginregister.controller.PreRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreRegisterServlet</servlet-name>
    <url-pattern>/PreRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bridgelabz.servletloginregister.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.bridgelabz.servletloginregister.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.bridgelabz.servletloginregister.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterFilter</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>com.bridgelabz.servletloginregister.controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
   <filter>
  <filter-name>RegisterFilter</filter-name>
  <filter-class>com.bridgelabz.servletloginregister.controller.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>RegisterFilter</filter-name>
  <url-pattern>/RegisterServlet</url-pattern>
  </filter-mapping>
  <listener>
 <listener-class>com.bridgelabz.servletloginregister.controller.MySessionListener</listener-class>
  </listener>
</web-app>